
# Created by https://www.toptal.com/developers/gitignore/api/vscode
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode

### vscode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/vscode

### Ignore large sample sets ###
Computational intelligence/HomeAssignment1/resources/conn.log
Computational intelligence/students/resources/http.log

### Ignore mars-explorer-master ###
Computational intelligence/HomeAssignment1/resources/**
Sistemas Inteligentes/mars-explorer-master/**
Sistemas Inteligentes/mars-explorer-master.zip
Computational intelligence/HomeAssignment1/HomeAssignment1.ipynb
.vscode/settings.json
